{% block head %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block header %}
    {% set paths = ['home', 'contacts', 'categories'] %}
    {% for pathName in paths %}
        {% if app.request.attributes.get('_route') != pathName %}
            <a href="{{ path(pathName) }}">{{ pathName|capitalize }}</a>
        {% else %}
            <span>{{ pathName|capitalize }}</span>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block body %}
    <h1>{{ app.request.attributes.get('_route')|capitalize }}</h1>
{% endblock %}